.array-bar {
	width: 2px;
	display: inline-block;
	margin: 0 1px;
}

.btn-container {
	margin-bottom: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: black;
}

.generate-btn {
	cursor: pointer;
	background-color: inherit;
	outline: none;
	border: none;
	color: white;
	padding: 25px;
	padding-left: 35px;
	padding-right: 35px;
	padding-right: 300px;
}
.generate-btn:hover {
	color: turquoise;
}

.btn:hover {
	border-bottom: 3px solid turquoise;
}
.btn {
	cursor: pointer;
	background-color: inherit;
	outline: none;
	border: none;
	color: white;
	padding: 25px;
	padding-left: 35px;
	padding-right: 35px;
}
